/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container-jumbo {
    width: 90vw;
    margin: 0 auto;
    max-width: 1180px;
}

.container-section {
    width: 70vw;
    margin: 0 auto;
    max-width: 1080px
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #0160ff;
    padding: 4px 17px;
}

.white-button {
    text-decoration: none;
    color: black;
    padding: 4px 17px;
    border: 1px solid black;
}

.blue {
    color: #2577ff;
}

/* **** header **** */

/* header top */

.header-top {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.header-top li {
    display: inline-block;
    padding: 0 18px;
}

.header-top li a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.header-top li a img {
    vertical-align: middle;
}

#accedi {
    color: white;
}

/* jumbotron */

.jumbotron {
    height: 650px;
    background-color: #b3d0e7;
    margin-top: 80px;
}

.jumbo-title h1{
    font-size: 65px;
    padding: 50px 0;
}

.jumbo-main {
    position: relative;
}

.jumbo-text {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
}

.jumbo-text p {
    margin-bottom: 30px;
}

.jumbo-text span {
    font-size: 13px;
    display: block;
    margin-top: 15px;
}

#arrow {
    font-size: 40px;
    color: black;
    display: block;
    margin-top: 40px;
}

.jumbo-img img {
    width: 800px;
    position: absolute;
    top: 0;
    right: 0;
}

/* **** main **** */

/* sezione piani di abbonamento */

.piani-title {
    margin: 70px 0 60px;
    padding-top: 120px;
}

.piani-title h2 {
    font-size: 35px;
}

.piani .select label {
    font-size: 15px;
    padding-right: 10px;
}

.piani .colonne{
    margin: 45px 0;
}

.piani .col {
    width: calc((100% - 100px) / 3);
    min-height: 1100px;
    border: 1px solid #d9d9db;
}

.piani .col.centrale {
    margin: 0 50px;
}

/* header-col */

.header-col {
    text-align: center;
    border-bottom: 1px solid #d9d9db;
    padding: 10px 0;
}

/* main col */

.main-col {
    padding: 20px;
}

.main-col span {
    display: block;
    padding-bottom: 25px;
}

.main-col .top-main-col h3 {
    font-size: 22px;
}

.main-col .top-main-col .prezzo {
    font-weight: bold;
    padding: 20px 0 10px;
}

.main-col .top-main-col .scadenza {
    font-size: 14px;
    color: #bdc4c9;
    padding-bottom: 40px;
}

.main-col .top-main-col .button {
    text-align: center;
    width: 100%;
    margin:  25px 0 10px;
    padding: 8px 0;
    display: block;
}

.main-col .top-main-col .span-border {
    display: inline-block;
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9db;
}

.main-col .bottom-main-col {
    padding-top: 15px;
}

.main-col .bottom-main-col h4 {
    padding-bottom: 25px;
}

.main-col .bottom-main-col i {
    color: #2577ff;
}

/* sezione bottom */

.bottom-sezione {
    border: 1px solid #d9d9db;
}

.bottom-sezione .main-col {
    position: relative;
}

.bottom-sezione .main-col .text-main-col {
    width: 70%;
}

.bottom-sezione .main-col .text-main-col h3 {
    font-size: 22px;
}

.bottom-sezione .main-col .text-main-col h5 {
    padding: 20px 0 30px;
}

.bottom-sezione .main-col .text-main-col span {
    font-size: 13px;
    padding-bottom: 15px;
}

.bottom-sezione .main-col .contact-main-col {
    position: absolute;
    top: 20px;
    right: 20px;
}

.bottom-sezione .main-col .contact-main-col .button {
    width: 230px;
    text-align: center;
    display: block;
    padding: 8px 0;
}

/* sezione partner */

section.partner {
    margin: 130px 0;
}

.img-partner {
    width: 55%;
}

.text-partner {
    width: 45%;
}

.img-partner img {
    width: 100%;
}

.text-partner {
    padding: 30px 0 0 36px;
}

.text-partner h3 {
    font-size: 20px;
    padding-bottom: 25px;
}

.text-partner p {
    font-size: 15px;
    padding-bottom: 30px;
}

/* sezione operazioni */

.operazioni .box {
    width: calc(100% / 3);
}

/* **** footer **** */

/* effetto hover */

.button:hover {
    background-color: #3c85ff;
}

li a:hover {
    text-decoration: underline;
}

.tdn:hover {
    text-decoration: none;
}

a.blue:hover {
    text-decoration: none;
}

.white-button:hover {
    border: 2px solid black;
}

/* debug */

header.debug {
    background-color: blue;
}

.debug .header-top {
    background-color: coral;
}

/* .debug .jumbotron {
    background-color: darkmagenta;
} */

main.debug {
    height: 2000px;
    background-color: burlywood;
}

.debug .col {
    border: 1px solid black;
}

.debug .bottom-sezione {
    height: 200px;
    border: 1px solid black;
}

.debug.operazioni .title-operazioni {
    height: 100px;
    background-color: cyan;
}

.debug.operazioni .big-box {
    background-color: chocolate;
}

.debug.operazioni .box {
    height: 500px;
    border: 1px solid black;
}


footer.debug {
    height: 600px;
    background-color: chartreuse;
}