/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container.jumbo {
    width: 90%;
    margin: 0 auto;
    max-width: 1180px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #0160ff;
    padding: 4px 17px;
}

/* **** header **** */

/* header top */

.header-top {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.header-top li {
    display: inline-block;
    padding: 0 18px;
}

.header-top li a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.header-top li a img {
    vertical-align: middle;
}

#accedi {
    color: white;
}

/* jumbotron */

.jumbotron {
    height: 650px;
    background-color: #b3d0e7;
}

.jumbo-title h1{
    font-size: 65px;
    padding: 50px 0;
}

.jumbo-main {
    position: relative;
}

.jumbo-text {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
}

.jumbo-text p {
    margin-bottom: 30px;
}

.jumbo-text span {
    display: block;
    margin-top: 15px;
}

#arrow {
    font-size: 30px;
    color: black;
    display: block;
    margin-top: 40px;
}

.jumbo-img img {
    width: 800px;
    position: absolute;
    top: 0;
    right: 0;
}

/* **** main **** */

/* **** footer **** */

/* debug */

header.debug {
    background-color: blue;
}

.debug .header-top {
    background-color: coral;
}

/* .debug .jumbotron {
    background-color: darkmagenta;
} */

main.debug {
    height: 2000px;
    background-color: burlywood;
}

footer.debug {
    height: 600px;
    background-color: chartreuse;
}