/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* **** header **** */

/* header top */

.header-top {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.header-top li {
    display: inline-block;
    padding: 0 18px;
}

.header-top li a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.header-top li a img {
    vertical-align: middle;
}

#accedi {
    color: white;
    background-color: #0160ff;
    padding: 4px 17px;
}

/* jumbotron */

.jumbotron {
    height: 700px;
    background-color: #b3d0e7;
}

/* **** main **** */

/* **** footer **** */

/* debug */

header.debug {
    background-color: blue;
}

.debug .header-top {
    background-color: coral;
}

/* .debug .jumbotron {
    background-color: darkmagenta;
} */

main.debug {
    height: 2000px;
    background-color: burlywood;
}

footer.debug {
    height: 600px;
    background-color: chartreuse;
}